h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: #808080;
    letter-spacing: 2px;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}

img {
    width: auto;
}

.img-shadow {
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
}

.hr-rule {
    border-bottom: 2px solid #808080;
    margin: 20px 0 20px 0;
    width: 100%;
}

.autor-info {
    float: right;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    color: #808080;
    letter-spacing: 2px;
}

.name {
    display: block;
    font-size: 20pt;
}

.col-sm-4 {
    height: 400px;
}

.description {
    font-size: 13pt;
}

.featured-work {
    display: inline-block;
    width: 100%;
}
